/* VARIABLES */
:root {
    --gray40: #212121;
    --gray30: #212429;
    --gray20: #424242;
    --gray10: #616161;
}

body {
    color: var(--gray);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* TABLE OF CONTENTS */
header a {
    color: var(--gray10);
    text-decoration: none;
}

header a:hover {
    color: var(--gray40);
}

header summary {
    font-weight: bold;
}

/* HEADER IMAGE */

.hero {
    height: 350px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent), url(../img/patron-1.png)
}

/* TITLES */
h1 {
    font-size: 3.75em;
}

h2 {
    font-size: 2em;
}

main h3 {
    font-size: 1.5m;
    font-size: var(--gray20);
    counter-increment: titleList;
}

/* TITLES NUMERATION AND LINES */

h3::before {
    content: counter(titleList) ". ";
}

h3::after {
    content: '';
    display: inline-block;
    width: 32px;
    height: 4px;
    background: var(--gray30);
}

/* CODE BLOCK */

pre {
    background: #FEC62E;

}