/* VARIABLES */
:root {
    --gray40: #212121;
    --gray30: #212429;
    --gray20: #424242;
    --gray10: #616161;
}

html {
    scroll-behavior: smooth;
}

body {
    color: var(--gray);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
}

/* TABLE OF CONTENTS */
header a {
    color: var(--gray10);
    text-decoration: none;
}

header a:hover {
    color: var(--gray40);
}

header summary {
    font-weight: bold;
}

/* HEADER IMAGE */

.hero {
    height: 350px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent), url(../img/patron-1.png)
}

/* TITLES */
h1 {
    font-size: 3.75em;
    margin: 64px 0px 16px;
    font-weight: normal;
}

h2 {
    font-size: 2em;
    margin: 64px 0px 40px;
    font-weight: normal;
}

main h3 {
    font-size: 1.5m;
    font-size: var(--gray20);
    font-weight: normal;
    counter-increment: titleList;
    margin: 16px 0px 24px;
    padding-bottom: 4px;
    position: sticky;
    top: 0px;
    background: white;
    padding: 10px 0px;
    position: relative;
}

/* TITLES NUMERATION AND LINES */

h3::before {
    content: counter(titleList) ". ";
}

h3::after {
    content: '';
    display: inline-block;
    width: 64px;
    height: 4px;
    background: var(--gray30);
    position: absolute;
    bottom: 0;
    left: 0px;
}

/* LOGOS */
.section-content img {
    margin-top: 40px;
}

/* CODE BLOCK */
pre {
    background: #FEC62E;
    padding: 40px;
    margin-top: 15px;
    font-family: Roboto;
    line-height: 24px;
}

/* DIVIDER */
hr {
    margin: 64px 0px;
}

.section-content + hr {
    display: none;
}

/* SECTION MARGINS */
.section-content {
    margin-top: 164px;
}

.section-content:first-of-type {
    margin-top: 0px;
}

/* TEXT STYLE */
.section-content blockquote {
    margin: 32px 0px;
    padding-left: 16px;
    font-size: 24px;
    color: var(--gray40);
    border-left: 4px solid var(--gray30);
    line-height: 24px;
}

blockquote span {
    color: var(--gray10);
}
.section-content ul li {
    margin-bottom: 16px;
}

.section-content ol li {
    line-height: 24px;
}

.main {
    background: white;
}

.wrapper {
    max-width: 802px;
    margin: auto;
    background: white;
}

.header {
    position: sticky;
    top: 0px;
}

.header-content-wrapper {
    position: absolute;
    top: 64px;
    left: 88px;
    width: 208px;
}

header ol li {
    margin-bottom: 16px;
}

header summary {
    line-height: 24px;
}

footer {
    background: white;
    block-size: 174px;
}